target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Node & Frontend ###
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Environment / Secrets ###
.env
.env.*
*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-impl.xml
/build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
*.swp
*.swo
